<html>
	<head>
		<style>
		.content_ph{
margin-top:58px;
}
.table1{
float: right !important;
}
.content_ph1{
float:left;
width:80%;
}
		</style>
	</head>
	<body>

{%include 'header.html'%}

<div class="content_ph">
<div class="content_ph1">
	<p>pH-ul (potențialul de hidrogen) reprezintă logaritmul zecimal cu semn schimbat al 
	concentrației ionilor de hidrogen dintr-o soluție, indicând caracterul acid sau bazic al acesteia. 
	Prin noțiunea de pH se exprimă cantitativ aciditatea (sau bazicitatea) unei substanțe, pe baza concentrației
	ionilor numiți hidroniu H3O+. Pentru soluțiile foarte diluate se consideră că pH-ul nu mai este egal cu concentrația 
	hidroniului, ci cu concentrația molară a soluției.
	</p>
	<p>Pentru definirea pH-ului se folosește scara logaritmică la reprezentarea activității ionului de hidrogen în soluție. pH-ul este egal cu logaritmul negativ al concentrației ionului de H<sup>+</sup>(H <sup>+3</sup>O):
</p>
	<p>a<sub>H<sup>+</sup></sub> reprezintă activitatea ionilor de H<sup>+</sup>și nu este similară cu concentrația ionilor. Activitatea reprezintă concentrația efectivă a ionilor de hidrogen, și este de fapt capacitatea celorlaltor ioni de a bloca participarea ionului de H <sup>+ </sup>la diferite reacții chimice. În soluțiile diluate activitatea este aproximativ egală cu valoarea concentrației ionului H<sup>+</sup>(H<sub>3</sub>O<sup>-</sup>). Ținând cont de acestea pH-ul se exprimă adimensional: 
</p>
	<table class="wikitable" style="">

<tr>
<th><b>Indicator</b></th>
<th>mediu neutru</th>
<th>mediu acid</th>
<th>mediu bazic
</th></tr>
<tr>
<td><b>Fenolftaleina</b></td>
<td>incoloră</td>
<td>incoloră</td>
<td>roșie carmin
</td></tr>
<tr>
<td><b>Metiloranj</b></td>
<td>oranj</td>
<td>roșu</td>
<td>galben
</td></tr>
<tr>
<td><b>Turnesol</b></td>
<td>violet</td>
<td>roșu</td>
<td>albastru
</td></tr></tbody></table>

<p>pH-ul poate fi măsurat prin:

Adăugarea unui indicator de pH în soluția de analizat. Culoarea luată de indicator variază în funcție de pH-ul soluției.
 Utilizarea indicatorilor pentru determinări calitative trebuie să țină cont de variația de culoare a acestuia,
 în funcție de pH-ul soluției (de preferat sunt indicatorii care variază pe un interval de pH cât mai mic).
Utilizarea unui aparat pH-metru cu electrozi pH selectivi: electrod de sticlă, electrod de hidrogen, electrod de chinhidronă.
Determinarea exactă a valorii pH-ului se face totuși prin metode combinate: utilizarea de indicatori împreună cu metode spectrofotometrice, pentru identificarea fiecărui constituent ce influențează pH-ul (culoarea indicatorului).

</div>

<table  class='table1' style="border: 1px solid gray; margin: 0 0 0.5em 1em;">
<caption><b>Valori reprezentative ale pH-ului</b></caption>
<tbody><tr>
<th>Tipuri de substanțe</th>
<th>pH
</th></tr>
<tr>
<td>Acid clorhidric - HCl  , 1M</td>
<td bgcolor="#BB0000"><div style="text-align:center"><font color="#FFFFFF">0.1
</font></div></td></tr>
<tr>
<td>Acid de baterie </td>
<td bgcolor="#CC0000"><div style="text-align:center"><font color="#FFFFFF">0.5
</font></div></td></tr>
<tr>
<td>Acidul gastric </td>
<td bgcolor="#EE0000"><div style="text-align:center"><font color="#FFFFFF">1.5 – 2.0
</font></div></td></tr>
<tr>
<td>Suc de lămâie </td>
<td bgcolor="#FF3300"><div style="text-align:center"><font color="#FFFFFF">2.4
</font></div></td></tr>
<tr>
<td>Cola </td>
<td bgcolor="#FF6600"><div style="text-align:center">2.5
</div></td></tr>
<tr>
<td>Oțet  -  CH<sub>3</sub>COOH</td>
<td bgcolor="#FF9900"><div style="text-align:center">2.9
</div></td></tr>
<tr>
<td>Suc de portocală  sau de măr</td>
<td bgcolor="#FFCC00"><div style="text-align:center">3.5
</div></td></tr>
<tr>
<td>Bere </td>
<td bgcolor="yellow"><div style="text-align:center">4.5
</div></td></tr>
<tr>
<td>Ploaie acidă </td>
<td bgcolor="yellow"><div style="text-align:center">&lt;5.0
</div></td></tr>
<tr>
<td>Cafea </td>
<td bgcolor="yellow"><div style="text-align:center">5.0
</div></td></tr>
<tr>
<td>Ceai </td>
<td bgcolor="yellow"><div style="text-align:center">5.5
</div></td></tr>
<tr>
<td>Lapte </td>
<td bgcolor="#339933"><div style="text-align:center"><font color="#FFFFFF">6.5
</font></div></td></tr>
<tr>
<td>Suc intestinal </td>
<td bgcolor="#339933"><div style="text-align:center"><font color="#FFFFFF">6-7
</font></div></td></tr>
<tr>
<td>Apă pură / distilata  -  H<sub>2</sub>0</td>
<td bgcolor="green"><div style="text-align:center"><font color="#FFFFFF">7.0
</font></div></td></tr>
<tr>
<td>Saliva  omului sănătos</td>
<td bgcolor="green"><div style="text-align:center"><font color="#FFFFFF">6.5 – 7.4
</font></div></td></tr>
<tr>
<td>Sânge </td>
<td bgcolor="#009966"><div style="text-align:center"><font color="#FFFFFF">7.34 – 7.45
</font></div></td></tr>
<tr>
<td>Apă  de mare</td>
<td bgcolor="#006699"><div style="text-align:center"><font color="#FFFFFF">8.0
</font></div></td></tr>
<tr>
<td>Săpun  de toaletă</td>
<td bgcolor="blue"><div style="text-align:center"><font color="#FFFFFF">9.0 – 10.0
</font></div></td></tr>
<tr>
<td>Amoniac   - NH<sub>3</sub></td>
<td bgcolor="blue"><div style="text-align:center"><font color="#FFFFFF">11.5
</font></div></td></tr>
<tr>
<td>Înălbitor </td>
<td bgcolor="#0000CC"><div style="text-align:center"><font color="#FFFFFF">12.5
</font></div></td></tr>
<tr>
<td>Sodă caustică  -  NaOH</td>
<td bgcolor="black"><div style="text-align:center"><font color="#FFFFFF">13.9
</font></div></td></tr></tbody></table>
<img src="static/ph4.png" width="100%">
<img src="static/ph5.jpg" width="100%">
<img src="static/ph2.jpg" width="100%">
<img src="static/ph3.jpg" width="100%">
</div>
	</body>
</html>
