
{%include 'header.html'%}

<html>
	<head>
		<style>
		</style>
	</head>
	<body>

<div style="float:left; margin-top:58px;">	<img src="https://raw.githubusercontent.com/Tiifym7/Chimie/master/ph2/ph6.jpg" style="float:right;width:20%">
<h1>Importanta Biologica</h1>
<p>Toate procesele vitale se desfasoara la valori ale pH-ului exacte.</p>
<p>Sangele uman are pH-ul cuprins intre 7,38 – 7,52. Este usor bazic; numai in aceste conditii celulele sangelui isi pot indeplini functiile lor.</p>
<p>Daca valoarea pH-ului sangelui nu se incadreaza in intervalul amintit exista riscul mortii</p>
<ul>
<li>prin coma , daca pH-ul este mai mic de 7 ;</li>
<li>prin tetanizare, daca pH-ul este mai mare de 7,8 ( tetanie – contractii puternice involuntare ale muschilor).</li></ul>
<p>Un organ cu rol foarte important in reglarea valorii pH-ului este rinichiul. Acesta explica de ce pH-ul urinei are valori normale intre 4,5 – 8, dupa cum rinichiul elimina excesul de aciditate sau bazicitate din sange ( valoarea normala a pH-ului urinei este de 6,2 ).
Secretiile stomacului sunt foarte acide (pH >> 1 ) valoarea legata de functiile sale digestive. In timpul digestiei, alimentele sunt prelucrate cu ajutorul bilei si al stomacului pancreatic. Arsurile pe care le simtim uneori in stomac se datoreaza cresterii aciditatii. Pentru a elimina excesul de aciditate putem consuma « bicarbonat de sodiu «  ( carbonata acid de sodiu).
</p>
<h1>Importanta in industrie</h1>Controlul pH-ului in diferite ramuri industriale este frecvent. De exemplu :
<ul>
<li>industria farmaceutica ( aspirina tamponata are pH = 8) ;</li>
<li>industria cosmetica ( crème, sampoane, sapunuri cu pH inferior valorii 7 );</li>
<li>industria berii, pH-ul are valoarea 5,1 – numai asa berea este limpede.</li>
</ul>
<P>pH-ul este marimea cu care se masoara aciditatea si alcalinitatea unui produs. Contactul pielii cu acizi sau baze puternice dar si ingrijirea zilnica a pielii poate afecta invelisul acid protector cand sunt folosite sapunul sau alte produse de ingrijire a caror pH nu corespunde valorii 5.5 al pH-ului natural al pielii. pH-ul produselor cosmetice se masoara cu benzile specifice indicate in imaginea din acest articol. pH -ul vine masurat cu o scara de la 1 la 14. Vine considerat de la 1 la 7 pH acid,  pH = 7 pH neutru, si de la 7 la 14 pH bazic. Corectarea pH-lui se face cu acidifianti ca acidul citric
 , acidul lactic si alcalinizarea se obtine cu bicarbonatul de sodiu, acidul stereatic si apa de  hidroxidul de calciu.</p>
<p>In general pielea are un pH-ul intre 4 si 7. In medie e de 5,5 dar poate varia in in functie de zonele corpului si varsta. Tenul normal are pH-ul de 6,5, tenul uscat are pH-ul sub 6,5 si cel gras mai mare de 6,5.</p>
In industria cometica pH-ul recomandat  e :
<li>	sampon 5-7,
<li>	gel de dus 5-7,5,
<li>	produse de igiena intima 4,5 - 5,5 pentru femeile de varsta fertila si 6,5-7 pentru fete si femeile in menopauza,
<li>	creme,lotiuni de corp,emulsii si gel 5-7,5,
<li>	crema AHA sau  DHA 4-6.
<img src="https://raw.githubusercontent.com/Tiifym7/Chimie/master/ph2/ph7.jpg" style="width:100%">
</div>

	</body>
</html>
