
{%include 'header.html'%}

<style>
.go_down{
margin-top:54px !important;
}
</style>


<table class="go_down" id="myTable" style="margin:0 auto; width:100%;">
<tbody><tr>
<td style="vertical-align:middle; background-color:#cccccc; color:#000000; font-size:14px; padding:5px; border:2px solid #fff;" width="10%"><b><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Categoria de produse alimentare</font></font></b></td>
<td style="vertical-align:middle; background-color:#cccccc; color:#000000; font-size:14px; padding:5px; border:2px solid #fff;" width="16%"><b><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">alcaline de mare</font></font></b></td>
<td style="vertical-align:middle; background-color:#cccccc; color:#000000; font-size:14px; padding:5px; border:2px solid #fff;" width="16%"><b><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Alcalin</font></font></b></td>
<td style="vertical-align:middle; background-color:#cccccc; color:#000000; font-size:14px; padding:5px; border:2px solid #fff;" width="16%"><b><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">slab alcalină</font></font></b></td>
<td style="vertical-align:middle; background-color:#cccccc; color:#000000; font-size:14px; padding:5px; border:2px solid #fff;" width="14%"><b><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Acid scăzut</font></font></b></td>
<td style="vertical-align:middle; background-color:#cccccc; color:#000000; font-size:14px; padding:5px; border:2px solid #fff;" width="14%"><b><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Acid</font></font></b></td>
<td style="vertical-align:middle; background-color:#cccccc; color:#000000; font-size:14px; padding:5px; border:2px solid #fff;" width="14%"><b><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">ridicat de acid</font></font></b></td></tr>
<tr>
<td style="vertical-align:top; background-color:#cccccc; color:#000000; font-size:14px; padding:5px; border:2px solid #fff;"><b><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Fasolea, legume, LEGUMES</font></font></b></td>
<td style="vertical-align:top; background-color:#6699c2; color:#000000; font-size:14px; padding:5px; border:2px solid #fff;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sucuri de legume, patrunjel, Raw spanac, broccoli, țelină, usturoi, iarbă de orz</font></font></td>
<td style="vertical-align:top; background-color:#9cbad6; color:#000000; font-size:14px; padding:5px; border:2px solid #fff;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Morcovi, fasole verde, fasole Lima, Sfecla, salata verde, dovlecei, roscove</font></font></td>
<td style="vertical-align:top; background-color:#c7d4e0; color:#000000; font-size:14px; padding:5px; border:2px solid #fff;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Squash, sparanghel, rubarbă, Porumb proaspat, Ciuperci, Ceapă, varza, mazare, conopida, nap, Sfecla, cartofi, masline, soia, Tofu</font></font></td>
<td style="vertical-align:top; background-color:#d4deb5; color:#000000; font-size:14px; padding:5px; border:2px solid #fff;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Cartofi dulci, spanac fiert, Fasole</font></font></td>
<td style="vertical-align:top; background-color:#f0ebb0; color:#000000; font-size:14px; padding:5px; border:2px solid #fff;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Fasole, fasole Navy</font></font></td>
<td style="vertical-align:top; background-color:#f5ed59; color:#000000; font-size:14px; padding:5px; border:2px solid #fff;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Legume murate</font></font></td></tr>
<tr>
<td style="vertical-align:top; background-color:#cccccc; color:#000000; font-size:14px; padding:5px; border:2px solid #fff;"><b><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">FRUCTE</font></font></b></td>
<td style="vertical-align:top; background-color:#6699c2; color:#000000; font-size:14px; padding:5px; border:2px solid #fff;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Smochine uscate, pepene verde, lamai</font></font></td>
<td style="vertical-align:top; background-color:#9cbad6; color:#000000; font-size:14px; padding:5px; border:2px solid #fff;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Date, coacăze negre, struguri, papaya, kiwi, fructe de pădure, mere, pere</font></font></td>
<td style="vertical-align:top; background-color:#c7d4e0; color:#000000; font-size:14px; padding:5px; border:2px solid #fff;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Nucă de cocos, vișine, tomatos, portocale, cirese, ananas, piersici, avocado, grapefruit, mango, căpșuni, Papaya, Stafide, Limes</font></font></td>
<td style="vertical-align:top; background-color:#d4deb5; color:#000000; font-size:14px; padding:5px; border:2px solid #fff;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Afinele, afine, banane, prune, prelucrate sucuri de fructe</font></font></td>
<td style="vertical-align:top; background-color:#f0ebb0; color:#000000; font-size:14px; padding:5px; border:2px solid #fff;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Fruct la conservă</font></font></td>
<td style="vertical-align:top; background-color:#f5ed59; color:#000000; font-size:14px; padding:5px; border:2px solid #fff;">&nbsp;</td></tr>
<tr>
<td style="vertical-align:top; background-color:#cccccc; color:#000000; font-size:14px; padding:5px; border:2px solid #fff;"><b><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Cerealele, CEREALE</font></font></b></td>
<td style="vertical-align:top; background-color:#6699c2; color:#000000; font-size:14px; padding:5px; border:2px solid #fff;">&nbsp;&nbsp;&nbsp; </td>
<td style="vertical-align:top; background-color:#9cbad6; color:#000000; font-size:14px; padding:5px; border:2px solid #fff;">&nbsp;&nbsp;&nbsp;</td>
<td style="vertical-align:top; background-color:#c7d4e0; color:#000000; font-size:14px; padding:5px; border:2px solid #fff;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Amaranth, lintea, Porumb dulce, orez sălbatic, Quinoa, mei, hrișcă</font></font></td>
<td style="vertical-align:top; background-color:#d4deb5; color:#000000; font-size:14px; padding:5px; border:2px solid #fff;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Secară Pâine, cereale integrale Pâine, ovăz, orez brun</font></font></td>
<td style="vertical-align:top; background-color:#f0ebb0; color:#000000; font-size:14px; padding:5px; border:2px solid #fff;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Orez alb, alb Pâine, produse de patiserie, biscuiți, paste</font></font></td>
<td style="vertical-align:top; background-color:#f5ed59; color:#000000; font-size:14px; padding:5px; border:2px solid #fff;">&nbsp;</td></tr>
<tr>
<td style="vertical-align:top; background-color:#cccccc; color:#000000; font-size:14px; padding:5px; border:2px solid #fff;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">CARNE</font></font></td>
<td style="vertical-align:top; background-color:#6699c2; color:#000000; font-size:14px; padding:5px; border:2px solid #fff;">&nbsp;&nbsp;&nbsp; </td>
<td style="vertical-align:top; background-color:#9cbad6; color:#000000; font-size:14px; padding:5px; border:2px solid #fff;">&nbsp;&nbsp;&nbsp; </td>
<td style="vertical-align:top; background-color:#c7d4e0; color:#000000; font-size:14px; padding:5px; border:2px solid #fff;">&nbsp;&nbsp;&nbsp; </td>
<td style="vertical-align:top; background-color:#d4deb5; color:#000000; font-size:14px; padding:5px; border:2px solid #fff;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ficat, stridiile, Carne de organe</font></font></td>
<td style="vertical-align:top; background-color:#f0ebb0; color:#000000; font-size:14px; padding:5px; border:2px solid #fff;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Pește, Turcia, pui, miel</font></font></td>
<td style="vertical-align:top; background-color:#f5ed59; color:#000000; font-size:14px; padding:5px; border:2px solid #fff;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;" class="">Carne de vită, de porc, de vițel, Cochilii, conservele de ton &amp; Sardine</font></font></td></tr>
<tr>
<td style="vertical-align:top; background-color:#cccccc; color:#000000; font-size:14px; padding:5px; border:2px solid #fff;"><b><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">OUĂ &amp; LACTATE</font></font></b></td>
<td style="vertical-align:top; background-color:#6699c2; color:#000000; font-size:14px; padding:5px; border:2px solid #fff;">&nbsp;&nbsp;&nbsp; </td>
<td style="vertical-align:top; background-color:#9cbad6; color:#000000; font-size:14px; padding:5px; border:2px solid #fff;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Lapte matern</font></font></td>
<td style="vertical-align:top; background-color:#c7d4e0; color:#000000; font-size:14px; padding:5px; border:2px solid #fff;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Soia Brânză, Lapte de soia, lapte de capră, Brânză de capră, Zară, zer</font></font></td>
<td style="vertical-align:top; background-color:#d4deb5; color:#000000; font-size:14px; padding:5px; border:2px solid #fff;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Lapte integral, unt, iaurt, brânză de vaci, Cream, Ice Cream</font></font></td>
<td style="vertical-align:top; background-color:#f0ebb0; color:#000000; font-size:14px; padding:5px; border:2px solid #fff;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ouă, Camembert, Hard Brânză</font></font></td>
<td style="vertical-align:top; background-color:#f5ed59; color:#000000; font-size:14px; padding:5px; border:2px solid #fff;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Parmasan, Brânză topită</font></font></td></tr>
<tr>
<td style="vertical-align:top; background-color:#cccccc; color:#000000; font-size:14px; padding:5px; border:2px solid #fff;"><b><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Nuts &amp; SEMINTE</font></font></b></td>
<td style="vertical-align:top; background-color:#6699c2; color:#000000; font-size:14px; padding:5px; border:2px solid #fff;">&nbsp;&nbsp;&nbsp; </td>
<td style="vertical-align:top; background-color:#c7d4e0; color:#000000; font-size:14px; padding:5px; border:2px solid #fff;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Alune, Migdale</font></font></td>
<td bgcolor="#c7d4e0" align="center"><span style="color:#000000; font-size:12px;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Castane, Brazils, nucă de cocos</font></font></span></td>
<td style="vertical-align:top; background-color:#d4deb5; color:#000000; font-size:14px; padding:5px; border:2px solid #fff;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Dovleac, susan, Seminte de floarea-soarelui</font></font></td>
<td style="vertical-align:top; background-color:#f0ebb0; color:#000000; font-size:14px; padding:5px; border:2px solid #fff;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">&gt; Pecan, Cashews, Pistachios</font></font></td>
<td style="vertical-align:top; background-color:#f5ed59; color:#000000; font-size:14px; padding:5px; border:2px solid #fff;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Alune, Nucile</font></font></td></tr>
<tr>
<td style="vertical-align:top; background-color:#cccccc; color:#000000; font-size:14px; padding:5px; border:2px solid #fff;"><b><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">ULEIURI</font></font></b></td>
<td style="vertical-align:top; background-color:#6699c2; color:#000000; font-size:14px; padding:5px; border:2px solid #fff;"></td>
<td style="vertical-align:top; background-color:#9cbad6; color:#000000; font-size:14px; padding:5px; border:2px solid #fff;"></td>
<td style="vertical-align:top; background-color:#c7d4e0; color:#000000; font-size:14px; padding:5px; border:2px solid #fff;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ulei de semințe de in, ulei de măsline</font></font></td>
<td style="vertical-align:top; background-color:#d4deb5; color:#000000; font-size:14px; padding:5px; border:2px solid #fff;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ulei de porumb, ulei de floarea soarelui, margarină, untură</font></font></td>
<td style="vertical-align:top; background-color:#f0ebb0; color:#000000; font-size:14px; padding:5px; border:2px solid #fff;">&nbsp;&nbsp;&nbsp; </td>
<td style="vertical-align:top; background-color:#f5ed59; color:#000000; font-size:14px; padding:5px; border:2px solid #fff;">&nbsp;&nbsp;&nbsp; </td></tr>
<tr>
<th style="vertical-align:top; background-color:#cccccc; color:#000000; font-size:14px; padding:5px; border:2px solid #fff;"><b><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">BĂUTURI</font></font></b><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> &gt;</font></font></th>
<td style="vertical-align:top; background-color:#6699c2; color:#000000; font-size:14px; padding:5px; border:2px solid #fff;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Herb Ceaiurilor Lemon Water</font></font></td>
<td style="vertical-align:top; background-color:#9cbad6; color:#000000; font-size:14px; padding:5px; border:2px solid #fff;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ceai verde</font></font></td>
<td style="vertical-align:top; background-color:#c7d4e0; color:#000000; font-size:14px; padding:5px; border:2px solid #fff;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">ceai de ghimbir</font></font></td>
<td style="vertical-align:top; background-color:#d4deb5; color:#000000; font-size:14px; padding:5px; border:2px solid #fff;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Cacao</font></font></td>
<td style="vertical-align:top; background-color:#f0ebb0; color:#000000; font-size:14px; padding:5px; border:2px solid #fff;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Vin, Soda / Pop</font></font></td>
<td style="vertical-align:top; background-color:#f5ed59; color:#000000; font-size:14px; padding:5px; border:2px solid #fff;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ceai (negru), cafea, bere, Lichior</font></font></td></tr>
<tr>
<td style="vertical-align:top; background-color:#cccccc; color:#000000; font-size:14px; padding:5px; border:2px solid #fff;"><b><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Îndulcitorii, CONDIMENTE</font></font></b></td>
<td style="vertical-align:top; background-color:#6699c2; color:#000000; font-size:14px; padding:5px; border:2px solid #fff;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Stevia</font></font></td>
<td style="vertical-align:top; background-color:#9cbad6; color:#000000; font-size:14px; padding:5px; border:2px solid #fff;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sirop de arțar, sirop de orez</font></font></td>
<td style="vertical-align:top; background-color:#c7d4e0; color:#000000; font-size:14px; padding:5px; border:2px solid #fff;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Raw miere, zahăr brut</font></font></td>
<td style="vertical-align:top; background-color:#d4deb5; color:#000000; font-size:14px; padding:5px; border:2px solid #fff;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Zahăr alb, miere prelucrate</font></font></td>
<td style="vertical-align:top; background-color:#f0ebb0; color:#000000; font-size:14px; padding:5px; border:2px solid #fff;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ciocolata de lapte, zahar brun, melasă, gem, ketchup, maioneză, muștar, oțet</font></font></td>
<td style="vertical-align:top; background-color:#f5ed59; color:#000000; font-size:14px; padding:5px; border:2px solid #fff;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Îndulcitori artificiali</font></font></td></tr>
<tr><td colspan="7" style=" background-color:#f0f0f0;">
</td></tr></tbody></table>

<div id="google_translate_element">


</div>


<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>


<script>
function googleTranslateElementInit() {
 new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
}
function myFunction() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}

</script>






